@use "./breakpoints.scss" as breakpoints;

.mask {
    pointer-events: none;
    backdrop-filter: none;
    background: none;
    mask-image: none;
    mask-size: 100% 100%;
}

@media (max-width: breakpoints.$s) {
    .position {
        top: auto;
        bottom: var(--static-space-24);
    }

    .mask {
        transform: rotate(180deg);
        bottom: 0;
    }
}